/* Declaração de variáveis que serão usadas em todo o projeto e agilizar a modificação e manutenção, quando for necessário */
:root {
    --cor-primaria: #F3F5FC;
    --cor-secundaria: #fff;
    --cor-destaque: #0A3871;
    --cor-botao-descrip: #D8DFE8;
    --cor-cinza-escuro: #343A40; 
    --cor-cinza-medio: #495057;
    --cor-grab-scrollbar: #12335c;
    --fonte-padrao: "Segoe UI";
}

* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    transition: .3s;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--cor-secundaria);
    padding-top: 4rem;
}

body.active__cafe {
    --cor-primaria: #2c3639;
    --cor-secundaria: #384447ef;
    --cor-destaque: #a2785c;
    --cor-cinza-medio: #c0895c;
    --cor-grab-scrollbar: #a17048;
    transition: .5s;
}

body.active__forest {
    --cor-primaria: #86A789;
    --cor-secundaria: #D2E3C8;
    --cor-destaque: #4F6F52;
    --cor-cinza-medio: #4F6F52;
    --cor-grab-scrollbar: #315534;
    transition: .5s;
}

.container {
    background-color: var(--cor-primaria);
    width: 100%;
    height: 50rem;
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 2rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .1);
    display: grid;
    grid-template-columns: 9.375rem 38.1875rem 30rem;
    gap: 6rem;
}

.alura__logo__container {
    width: 7.6rem;
    height: 3rem;
    text-align: center;
}

.alura_logo__imagem {
    cursor: pointer;
}

.primeira__coluna {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.primeira__coluna__icones {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.primeira__coluna__icones span {
    color: var(--cor-destaque);
    font-size: 1.8rem;
    cursor: pointer;
}

#input {
    color: var(--cor-destaque);
    padding: 1rem;
    font-size: 2rem;
    outline: none;
    border: none;
    background-color: transparent;
    font-family: var(--fonte-padrao);
    margin-top: 8rem;
    resize: none;
}

#input::-webkit-scrollbar {
    width: 15px;
    /* height: 20px; */
}

#input::-webkit-scrollbar-thumb {
    background-color: var(--cor-destaque);
    cursor: grab;
    border-radius: 8px;
}

#input::-webkit-scrollbar-thumb:active {
    background-color: var(--cor-grab-scrollbar);
    cursor: grabbing;
    transition: .3s;
}


.texto__codificado {
    color: var(--cor-destaque);
    font-family: var(--fonte-padrao);
    font-size: 1.6rem;
    font-weight: 500;
    text-align: left;
}

.texto__codificado.active {
    width: 25rem;
    height: 35rem;
    overflow-y: scroll;
    /* text-align: center; */
    display: grid;
    place-items: center;
    padding: .5rem;
}

.texto__codificado.active::-webkit-scrollbar {
    width: 15px;
    /* height: 20px; */
}

.texto__codificado.active::-webkit-scrollbar-thumb {
    background: var(--cor-destaque);
    cursor: grab;
    border-radius: 8px;
}

.texto__codificado.active::-webkit-scrollbar-thumb:active {
    background: var(--cor-grab-scrollbar);
    cursor: grabbing;
    transition: .3s;
}

.entrada__dados {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.entrada__dados__acao {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.entrada__dados__info {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: var(--fonte-padrao);
    color: var(--cor-cinza-medio);
}

.entrada__dados__paragrafo {
    font-size: .8rem;
}

.entrada__dados__botoes {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.btn {
    width: 20.5rem;
    height: 4.1875rem;
    font-size: 1.2rem;
    border-radius: 1.5rem;
    border: none;
    cursor: pointer;
    transition: .3s;
    border: 1px solid var(--cor-destaque);
    color: var(--cor-destaque);
    background-color: var(--cor-botao-descrip);
}

.btn:hover {
    filter: brightness(1.1);
    transition: .3s;
}

.botao__criptografar {
    background-color: var(--cor-destaque);
    color: #fff;
}

.botao__descriptografar {
    color: var(--cor-destaque);
    border: 1px solid var(--cor-destaque);
    background-color: var(--cor-botao-descrip);
}

.saida__dados {
    box-sizing: border-box;
    background-color: var(--cor-secundaria);
    padding: 2rem;
    border-radius: 2rem;
    text-align: center;
    box-shadow: .5px .5px 10px rgba(0, 0, 0, .1);
    display: grid;
    place-items: center;
    align-content: center;
    overflow-y: hidden;
    position: relative;
    word-break: break-word;
}

.saida__dados.active {
    align-content: space-between;
}

.saida__dados__container {
    display: grid;
    gap: 2rem;
    place-items: center;
}

.saida__dados__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 16rem;
    text-align: center;
    font-family: var(--fonte-padrao);
    color: var(--cor-cinza-medio);

}

.saida__dados__copiar {
    display: none;
}

.saida__dados__copiar.active {
    display: block;
    position: absolute;
    bottom: 2rem;
}

.saida__dados__copiar.active2 {
    font-weight: bold;
    transition: .3s;
}

.footer {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    text-align: center;
    padding: 2rem;
    width: 100%;
    margin-top: 4rem;
}

.footer__texto {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--cor-destaque);
}

.footer span {
    font-weight: bold;
}

/* --------------------- MEDIA QUERIES ----------------------- */
@media (max-width: 1440px) {
    .container {
        grid-template-columns: 7.375rem 32.1875rem 28rem;
        height: 45rem;
    }

    #input {
        font-size: 1.5rem;
    }

    .texto__codificado.active {
        width: 100%;
        height: 30rem;
        font-size: 1.4rem;
    }

    .saida__dados.active {
        align-content: space-between;
    }
}

@media (max-width: 1024px) {
    body {
        width: 70vw;
        padding-top: 0;
    }
    
    .container {
        grid-template-columns: 1fr;
        gap: 1rem;
        height: 100%;
        width: 100vw;
    }

    .primeira__coluna {
        display: flex;
        flex-direction: row;
    }

    .primeira__coluna__icones {
        display: flex;
        flex-direction: row;
    }

    #input {
        margin: 0;
    }

    .entrada__dados {
        gap: 1rem;
        justify-content: flex-start;
    }

    .saida-dados {
        position: absolute;
        bottom: -2rem;
    }

    .saida__dados__copiar.active {
        margin-top: 2rem;
        display: block;
        position: static;
    }

    .footer {
        margin-top: 2rem;
    }
}


@media (max-width: 768px) {
    body {
        padding-top: 0;
    }

    .container {
        grid-template-columns: 1fr;
        height: 100%;
        border-radius: 0;
    }

    .primeira__coluna {
        display: flex;
        flex-direction: row;
    }

    .primeira__coluna__icones {
        display: flex;
        flex-direction: row;
    }

    #input {
        margin-top: 0;
    }

    .saida-dados {
        position: absolute;
        bottom: -2rem;
    }

    .saida__dados.active {
        height: 25rem;
        
       }

    .saida__dados__copiar.active {
        display: block;
        position: absolute;
    }

    /* .saida__dados {
        height: 100%;
    } */

   

    .texto__codificado.active {
        width: 100%;
        height: 15rem;
    } 
}

@media (max-width: 400px) {
    body {
        padding-top: 0;
    }
    
    .container {
        width: 400px;
        max-width: 100%;
        grid-template-columns: 1fr;
        padding: .8rem;
    }
    
    .primeira__coluna {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: .5rem 0 0 0;
    }

    .alura__logo__container {
        width: 48px;
        margin-left: .5rem;
    }

    #input {
        font-size: 1.2rem;
    }

    .entrada__dados {
        justify-content: space-around;
    }

    .entrada__dados__info {
        gap: 4px;
    }

    .entrada__dados__info span {
        font-size: 14px;
    }

    .entrada__dados__paragrafo  {
        font-size: 10px;
    }

    .entrada__dados__botoes {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
    }

    .saida__dados {
        padding: .5rem;
    }

    .saida__dados.active {
        place-items: center;
        height: 15rem;
    }

    .saida__dados__h2 {
        font-size: 1.2rem;
    }

    .saida__dados__paragrafo {
        font-size: .8rem;
    }

    .saida__dados__container {
        gap: 0;
    }

    .saida__dados__imagem {
        display: none;
    }

    .texto__codificado {
        font-size: 1.2rem;
        text-align: center;
        padding: 0.6rem;
    }

    .texto__codificado.active {
        font-size: 1rem;
        height: 8rem;
        position: relative;
    }

    .saida__dados__copiar.active {
        display: block;
        position: absolute;
        width: 95%;
        bottom: .6rem;
    }

    #input::-webkit-scrollbar {
        width: 8px;
    }

    .texto__codificado.active::-webkit-scrollbar {
        width: 8px;
    }

    .btn {
        font-size: 1rem;
        width: 100%;
    }

    .footer {
        margin-top: 1rem;
    }
}